[submodule "Four/vendor/spdlog"]
	path = Four/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Four/vendor/GLFW"]
	path = Four/vendor/GLFW
	url = https://github.com/glfw/glfw
[submodule "Four/vendor/imgui"]
	path = Four/vendor/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Four/vendor/glm"]
	path = Four/vendor/glm
	url = https://github.com/g-truc/glm
